<div class="jumbotron foot">
<footer role="contentinfo" class="footer footer-default">
  <nav class="row">
        <div class="col-xs-6 col-sm-4 col-md-2">
          <h3 class="nav-title">About Me</h3>
          <ul class="nav">
          <li>
        <a href="/contact" id="nav-link-about" data-ga-category="menu" data-ga-action="about">
          Conatct</a>
        </li>

      

        </ul>
      </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
        <h3 class="nav-title">Login</h3>
        <ul class="nav">
          
  <li>
    <a href="/login" id="nav-link-artists" data-ga-category="menu" data-ga-action="artists">
      Click here to login
                </a>
  </li>



        </ul>
      </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
        <h3 class="nav-title">SignUp</h3>
        <ul class="nav">
            <li>
    <a href="/register" id="nav-link-help" data-ga-category="menu" data-ga-action="help">
      click here to signup
                </a>
  </li>


        </ul>
      </div>

              
    </nav>
      <small class="copyright" style="color:white;padding-top:20px;margin-top:700px">© Nikhil Yadav</small>

  </footer>
    </div>
</body>
</html>