<% include ./partials/header %>
	<div class="jumbotron" style="margin-bottom:0">
		<h1 style="text-align:center">Hi !! It's Nikhil</h1>
		<div class="container">
			<div>

				<h3>Nikhil yadav</h3>
				<h4>Contact Number:7411087740</h4>
				<h4>email:
					<a href="mailto:nikhil.y1299@gmail.com?Subject=Hello%20again" target="_top">nikhil.y1299@gmail.com</a>
					<h4>
			</div>
		</div>
	</div>

	<% include ./partials/footer %>